@namespace blazor_tutorial.Components.Ui.Card

<div class="relative">
    <div class="aspect-4/4 overflow-hidden rounded-2xl">
        <img class="size-full object-cover rounded-2xl" src="@Src" alt="@Alt">
    </div>
</div>

@code {
    [Parameter] public required string Src { get; set; }
    [Parameter] public string Alt { get; set; } = "";
}
