@namespace blazor_tutorial.Components.Ui

<div class="px-4 sm:px-6 lg:px-8">
    <div class="h-120 md:h-[80dvh] flex flex-col bg-cover bg-center bg-no-repeat rounded-2xl"
         style="background-image: url('@ImageUrl');">
        <div class="mt-auto w-1/4 md:max-w-lg ps-5 pb-5 md:ps-10 md:pb-10">
            <h1 class="text-xl md:text-3xl lg:text-5xl text-white">
                @Title
            </h1>
        </div>
    </div>
</div>

@code {
    [Parameter] public required string Title { get; set; }
    [Parameter] public required string ImageUrl { get; set; }
}
